<script src="https://utteranc.es/client.js"
        repo="{{ githubRepo }}"
        issue-term="pathname"
        label="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
