<nav class="navigation center">
    <section class="container">
        <a class="project-name navigation-title" href="<%= site.basePath %>/"><%= site.title %></a>
        <ul class="list-style-none navigation-list">
            <li class="list-item-style-none">
                <a class="navigation-list-item" href="<%= site.basePath %>/blog" aria-label="Blogs">
                    Blog
                </a>
            </li>
            <li class="list-item-style-none">
                <a class="navigation-list-item"  href="<%= site.basePath %>/problem-setting" aria-label="Problem Setting">
                    Problem Setting
                </a>
            </li>
        </ul>
    </section>
</nav>
