<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% include "partials/head.tera" %}
    </head>
    <body>
        <main class="wrapper">
            {% include "partials/navigations.tera" %}
            <section class="content">

                {{ body }}
            </section>
            <footer class="site-footer">

            </footer>
        </main>
    </body>
</html>
