<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% include "partials/head.tera" %}
    </head>
    <body>
        <main class="wrapper">
            {% include "partials/navigations.tera" %}
            <section class="content">
                <div class="container">
                    <h1> {{pageTitle}} </h1>
                    <h2> {{pageDate}} </<h2>
                    <div class="blog-content">
                        {{body}} 
                    </div>
                </div>
            </section>
            <footer class="site-footer">

            </footer>
        </main>
</body>
</html>
