<!DOCTYPE html>
<html lang="en-US">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <main class="wrapper">
            <%- include('../partials/navigations') %>
            <section class="content">
                <div class="container center">
                    <div class="text-align-center">
                        <%- body %>
                    </div>
                </div>
            </section>
            <footer class="site-footer">

            </footer>
        </main>
</body>
</html>
